<h1>Flower List</h1>
<a href="/flowers/new">Add New Flower</a>
<ul>
    <% flowers.forEach(flower => { %>
        <%= flower.name %> - $<%= flower.price %>
        <li><%= flower.Name %> - <%= flower.Color %> - $<%= flower.price %></li>

    <% }) %>
</ul>