<main class="container">
    <div class="row">
        <div class="offset-md-1-col-md-10">
            <h1><%= title %></h1>
            <a href="/flowerslist/add" class="btn btn-primary"
            role="button"><i class="fas fa-plus-circle"></i>Add Flower</a>
        <table class="table table-bordered table-striped table-hover">
            <!--Table Header-->
            <tr class="d-flex">
                <th class="text-center col-2">Name</th>
                <th class="text-center col-2">Color</th>
                <th class="text-center col-2">Price</th>
                <th class="text-center col-2">Quantity</th>

            </tr>
            <% for(let count=0;count<FlowerList.length;count++) { %>
                <tr class="d-flex">
                    <td class="text-center col-2"><%= flowers[count].Name %></td>
                    <td class="text-center col-2"><%= flowers[count].Color %></td>
                    <td class="text-center col-2"><%= flowers[count].Price %></td>
                    <td class="text-center col-2"><%= flowers[count].Quantity %></td>
                    <td class="text-center col-1">
                        <a href="/flowerslist/edit/<%= flowers[count]._id%>"
                        class="btn btn-primary btn-sm">
                        <i class="fas fa-pencil-alit"></i>Edit</a></td>
                    <td class="text-center col-1">
                        <a href="/flowerslist/delete/<%= flowers[count]._id%>"
                        class="btn btn-danger btn-sm">
                        <i class="fas fa-trash-alt"></i>Delete</a></td>
                </tr>
            <% } %>
        </table>
        </div>
    </div>
</main>